* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #aa58be, #d69fd8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card, .final {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  z-index: 2;
}

h1 {
  color: #c43097;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

button {
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#yesBtn {
  background: #9873AC;
  color: white;
}

#noBtn {
  background: #ccc;
}

.hidden {
  display: none;
}

.hearts span {
  position: absolute;
  top: -10%;
  font-size: 20px;
  animation: fall linear infinite;
  color: rgba(255, 255, 255, 0.8);
}

@keyframes fall {
  to {
    transform: translateY(110vh);
  }
}

.music-player {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.music-player button {
  background: #ff4d6d;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
}

.music-player input[type="range"] {
  width: 180px;
  accent-color: #ff4d6d;
  cursor: pointer;
}
